* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgba(181, 212, 79, 0.518);
  height: 100vh;
  font-size: 16px;
}

main {
  height: calc(100vh - 100px);
}

.content_box {
  max-width: 1200px;
  margin: auto;
  padding: 0px;
}

#header-container {
  width: 100%;
  padding: 10px 20px;
}

.logo-container {
  max-width: fit-content;
}

.logo-container a {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  text-decoration: none;
}

.logo-container a img {
  width: 75px;
}

.logo-container a span {
  font-size: 32px;
  margin-bottom: 12px;
  color: rgb(131, 0, 0);
}

.content-wrapper {
  width: 100%;
  margin-top: 2.5rem;

  gap: 20px;
  padding: 10px 20px;
}

.teams-parent-container {
  display: flex;
  align-items: center;
}

.player-registration-container {
  width: 500px;
  padding: 15px;
  border-radius: 4px;
  background: blue;
  margin: auto;
}

.player-registration-container h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 12px;
}

.player-registration-container .player-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.player-registration-container div input {
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  border: none;
  outline: none;
}

.player-registration-container button,
.general-btn {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 18px;
  background-color: magenta;
  color: rgb(255, 255, 255);
}

.player-list {
  padding: 15px 35px;
  font-size: 1.15rem;
  color: rgb(255, 255, 255);
}

/* Match Details CSS */
.match-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.match-over-selection-container {
  padding: 15px 20px;
}

ul.match-over-list {
  display: flex;
  gap: 0.75rem;
  list-style: none;
}

.match-over-list li input[type="checkbox"] {
  outline: 2px solid;
  margin-right: 0.5rem;
}
